# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/

# Environment
.env
.venv/
venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.bak
*.swp
*.tmp

# Local database connection file
db.py

